:root {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--colorLight);
  background-color: var(--colorDark);

  --colorBlack: #13242a;
  --colorDark: #1a2f38;
  --color3: #264653;
  --color4: #2d5362;
  --color6: #335f70;
  --color5: #9760f7;
  --colorLight: #efebe0;
  --thirdColor: #6b705c;
  --btn: #2976b5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
